<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- autentificación por medio de usuario de windows -->
    <add name="WindowsAuth" connectionString="Data Source=LAPTOP-3C8B3DO9\SQLEXPRESS01;Initial Catalog=ObligatorioP3;IntegratedSecurity=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>